@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg font-sans overflow-x-hidden;
}

.bg-bg {
  background-color: #0b0e14;
}

.bg-glass {
  background-color: rgba(255,255,255,0.06);
}

.backdrop-blur-glass {
  backdrop-filter: blur(12px);
}
